* {
    box-sizing: border-box;
}

body {
    background: #eee;
    width: 100%;
    margin: 0;
    color: #333;
    font-family: sans-serif;
    font-family: 'Hind', sans-serif;
    line-height: 1.8em;
}

nav {
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul li a {
    padding: 1em;
    display: block;
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    margin: 5em auto 2em;
    width: 90%;
    max-width: 800px;
    background: #fff;
    padding: 1em 2em;
    display: none;
}

.active {
    display: block;
}

img {
    max-width: 100%;
}

.loader {
    width: 100%;
}

.hide {
    display: none;
}

#home li {
    width: 100%;
}

#home li a {
    display: block;
}

#home li a {
    background: #eee;
    margin: .5em 0;
    padding: 1em;
    color: #333;
    text-decoration: none;
    transition: .2s;
}

#home li a:hover {
    background: #ddd;
}